<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ресторан \"Спільнота\"", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li class="dropdown">
                        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Меню
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Меню", "Index", "Dishes")</li>
                            <li>@Html.ActionLink("Комбо-набори", "Index", "CustomMenus")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Стан столиків", "StateOfTables", "Tabls")</li>
                    <li class="dropdown">
                        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Керування
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Замовлення", "Index", "Ords")</li>
                            <li>@Html.ActionLink("Продукти", "Index", "Products")</li>
                            <li>@Html.ActionLink("Категорії", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Столи", "Index", "Tabls")</li>
                            <li>@Html.ActionLink("Користувачі", "Index", "RegUsers")</li>
                            <li>@Html.ActionLink("Ролі", "Index", "RegUserRoles")</li>
                            <li>@Html.ActionLink("Розсилка пошти", "EmailSender", "Email")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kononenko Software</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
